* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared styles */
.display-flex {
    display: flex;
}

.color-1 {
    color: lightseagreen;
}

.color-2 {
    color: blue;
}

.color-3 {
    color: skyblue;
}

.color-4 {
    color: purple;
}
main{
    background: url(assets/bg.png);
    
    
}
.scrolling-cont{
    width: 100%;
    display: flex;
    align-items: center;
    background:#FFF4DC;
    /* margin-top:5px; */
    padding: 5px;
}
.hr{
    display: none;
    border: none;
    height: 1px;
    background-color: orange;
    margin-bottom: 5px;
}

/* Header Section Decoration */
.nav {
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.nav-head .header-text {
    font-size: 24px;
    font-weight: bold;
}

.items {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-item {
    list-style: none;
}

.nav-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}

.nav-link:hover {
    color: orange; /* Highlighted color when hovering */
}

.nav-btn .btn {
    width: 150px;
    padding: 10px 20px;
    color: white;
    background-color: orange;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.nav-btn .btn:hover {
    background-color: white;
    color: black;
    border: 1px solid orange;
}

.hero-sec {
    max-width: 1850px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.header-title {
    font-weight: 900;
    font-size: 3.5rem;
}

.header-spn1 {
    color: orange;
}

.header-spn2 {
    color: #01ACFD;
}

.header-dis {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-btn {
    width: 150px;
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.header-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* Standard Curriculum  */

.sta-h{
    margin-top: 100px;
    font-size: 2.5rem;
    font-weight: 900;
}

.sta-curr{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    
}

.sat-1{
    height: 480px;
    width: 367px;
    background: linear-gradient(#DEF5FF,#ffff,#ffff,#ffff);
    padding: 40px;
    margin: 15px;
    border-radius: 18px;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.11);

}


.sta-2{
    height: 480px;
    width: 367px;
    background: linear-gradient( #FFF4DC,#ffff,#ffff,#ffff);
    padding: 40px;
    margin: 15px;
    border-radius: 18px;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.11);

}

.sta-3{

    height: 480px;
    width: 367px;
    background: linear-gradient(#F2E8FF,#ffff,#ffff,#ffff);
    padding: 40px;
    margin: 15px;
    border-radius: 18px;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.15);
}

.sta-conte{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 120px;
}
.sta-title{
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 20px;

}
.sta-dis-1{
    line-height: 20px;
    color: #808080;
    margin-bottom: 20px;
}

.btn-sta-1{
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 700;
    color: blue;
    cursor: pointer;

}

.btn-sta-3{
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 700;
    color: purple;
    cursor: pointer;

}
.btn-sta-2{
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 700;
    color: orange;
    cursor: pointer;
}

.btn-con{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-arr-2{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: orange;
    border: none;
    color: white;
    font-weight: 900;
    margin-right: 10px;
    margin-bottom: 20px;

}
.Our-storys{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* Footer decoration */
footer {
    max-width: 100%;
    height: 400px; 
    background-color: #01ACFD; 
    color: white;
    padding: 50px 0; 
}

.foot-container {
    width: 80%; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.footer-content {
    flex: 1;
    margin: 0 15px;
}

.footer-logo-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.foot-logo {
    width: 80px;
    height:70px;
    
}

.footer-h {
    font-size: 28px; 
    font-weight: bold;
    margin-bottom: 30px; 
}


.footer-p p {
    font-size: 14px;
    line-height: 1.6;
    margin: 10px 0 0; 
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align:start; 
}

.list li {
    margin-bottom: 10px;
}

.list li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.list li a:hover {
    text-decoration: underline; 
}

.footer-content img {
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.footer-content img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
    transition: 0.3s ease;
}




/* Responsive Styles */
@media screen and (max-width: 576px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .hr{
        display: block;
        
    }
    .items {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .nav-icon {
        display: block;
        
    }

    .hero-sec {
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center;
    }

    .header-title {
        font-size: 2.5rem;
        margin-top: 20px; 
        
    }
    .header-text{
        display: none;
    }

    .header-dis {
        font-size: 1rem;
    }

    .header-btn {
        width: 100%;
    }

    .header-img {
        width: 100%;
        max-width: 300px; 
        margin-bottom: 20px; 
    }

    .sta-conte {
        flex-direction: column; 
        align-items: center;   
        margin-top: 20px; 
        margin-bottom: 0;
        gap: 0px;
        
    }

    .sat-1,
    .sta-2,
    .sta-3 {
        width: 90%; 
        margin-bottom: 20px; 
        
        
    }

    .sta-title {
        font-size: 1.2rem; 
    }

    .sta-dis-1 {
        font-size: 0.9rem; 
    }

    .btn-sta-1,
    .btn-sta-2,
    .btn-sta-3 {
        font-size: 0.85rem; 
        width: 100%;        
        text-align: center;
    }

    .btn-con {
        /* justify-content: center; 
        gap: 10px;  */
        display: none;
    }

    .btn-arr-2 {
        /* width: 50px;   
        height: 50px;
        font-size: 1.5rem;
        margin-right: 5px; */
        display: none;
    }

    .footer-h {
        font-size: 20px; /* Reduce heading size for smaller screens */
    }

    .foot-logo {
        width: 50px; /* Reduce logo size */
    }

    .footer-p p {
        font-size: 12px; /* Reduce paragraph font size */
    }

    .footer-content img {
        width: 25px; /* Reduce icon size */
    }






}



